*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #0b028b;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.score{
    color: white;
}

.slowSpawn{
    color: yellow;
}

.board{
    display: grid;
    grid-template-columns: repeat(20,30px);
    grid-template-rows: repeat(20,30px);
    gap: 1px;
    width: max-content;
}

.cell{
    background-color: rgb(151, 148, 148);
    width: 30px;
    height: 30px;
}

.food{
    background-color: rgb(167, 22, 22);
}

.slowItem{
    background-color: yellow;
}

.snake{
    background-color: black;
}

.snakehead{
    background-color: black;
}


.game-over-popup{
    color: white;
}